@media (min-width: 981px) {
    body {
        padding-top: 60px;
    }
}

body {
  font-size: 1em;
  line-height:1.3em;
  -webkit-font-smoothing: antialiased;
}

pre {
    font-size: 1em;
    line-height:1.1em;
}

.post-contributions-bar .btn {
    vertical-align: top;
}
