<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page.title }}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if page.description %}

        <meta name="description" content="{{ page.description }}">
        {% endif%}

        <link href="{{ site.url }}/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/font/stylesheet.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/css/menu_bubble.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/font/fontawesome-free-6.7.2-web/css/fontawesome.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/font/fontawesome-free-6.7.2-web/css/brands.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/font/fontawesome-free-6.7.2-web/css/solid.min.css" />
        <link href="{{ site.url }}/img/marco-pivetta-ocramius.gif" rel="shortcut icon"/>
        <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/github.css" />
        <link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css" />
        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
    </head>
    <script src="{{ site.url }}/js/snap.svg-min.js"></script>
    <body class="show-menu">
        <div class="container">
            <div class='menu-wrap display'>
                <nav class="menu">
                    <div class="icon-list">
                        <a href="{{ site.url }}/"><i class="fa fa-solid fa-newspaper"></i><span>Latest Posts</span></a>
                        <a href="{{ site.url }}/blog"><i class="fa fa-solid fa-comment"></i><span>Archive</span></a>
                        <a href="{{ site.url }}/talks"><i class="fa fa-brands fa-youtube"></i><span>Presentations</span></a>
                        <a href="{{ site.url }}/joindin"><i class="fa fa-solid fa-star"></i><span>Talks</span></a>
                        <a href="{{ site.url }}/about"><i class="fa fa-solid fa-user"></i><span>About</span></a>

                        {% if site.fediverse_account %}
                        <a href="{{ site.fediverse_account }}" rel="me" title="{{ site.fediverse_account }} mastodon profile" target="_blank"><i class="fa fa-brands fa-mastodon"></i><span>Mastodon</span></a>
                        {% endif %}

                        {% if site.github %}
                        <a href="https://github.com/{{ site.github }}" rel="me" title="{{ site.github }} github profile" target="_blank"><i class="fa fa-brands fa-github"></i><span>Github</span></a>
                        {% endif %}
                    </div>
                </nav>
            </div>

            <div class="content-wrap menu-fixed">
                <div class="content">
                    <div class="top left">
                        <p id="shield-container" class="logo-cont left" style="width: 200px; padding: 0; margin: 0; height: 200px;
"></p>
                        {% if page.page_type == "home" %}
                        <h1 class="left text-center">Marco Pivetta <span>(<a href="{{ site.fediverse_account }}" target="blank">Ocramius</a>)</span></h1>
                        {% else %}
                        <h2 class="left text-center">Marco Pivetta <span>(<a href="{{ site.fediverse_account }}" target="blank">Ocramius</a>)</span></h2>
                        {% endif %}
                    </div>

                    <div class="clear"></div>
                    <p class="text-center remove-margin">
                        <img src="{{ site.url }}/img/separator.png" alt=""/>
                    </p>
                    <div class="row-fluid">
                        <div class="span12">
                            {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                        </div>
                        <div class="span4 si debar"></div>
                   </div>
                </div>
            </div>

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r66/three.min.js"></script>
        <script src="{{ site.url }}/components/jquery/jquery.min.js"></script>
        <script src="{{ site.url }}/components/bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ site.url }}/components/highlightjs/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script src="{{ site.url }}/js/three-js-object-loader.js"></script>
        <script src="{{ site.url }}/js/mario.js"></script>
        <script>mario($('#shield-container'), "{{ site.url }}/logo/mario");</script>
    </body>
</html>
