@font-face {
    font-family: 'tisaregular';
    src: url('te111761-webfont.eot');
    src: url('te111761-webfont.eot?#iefix') format('embedded-opentype'),
         url('te111761-webfont.woff') format('woff'),
         url('te111761-webfont.ttf') format('truetype'),
         url('te111761-webfont.svg#tisaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}