<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/188.0.0/prettify.js"></script>
<script src="/js/google-code-prettify/prettify-prepro.js"></script>
<script src="/js/jquery.githubwidget.min.js"></script>
<script src="/js/custom.js"></script>
<script>$(prettyPrint);</script>
<script>
    var disqus_shortname = 'ocramius-dev';
    var disqus_identifier = '{{page.url}}';
    var disqus_url = 'http://ocramius.github.io/{{page.url}}';
</script>
<script src="http://ocramius-dev.disqus.com/count.js"></script>
<script src="http://ocramius-dev.disqus.com/embed.js"></script>
<script src="http://platform.twitter.com/widgets.js"></script>
<script src="https://apis.google.com/js/plusone.js"></script>
<script src="/js/analytics.js"></script>