<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="http://ocramius.github.io">Marco Pivetta</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="">
                        <a href="http://ocramius.github.io">Home</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="">
                        <a href="http://github.com/ocramius" target="_blank">GitHub</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="">
                        <a href="http://linkedin.com/in/ocramius" title="Go to Ocramius' LinkedIn profile" target="_blank">LinkedIn</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="">
                        <a href="http://www.twitter.com/ocramius" title="Ocramius' Twitter profile" target="_blank">Twitter</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="">
                        <a href="http://coderwall.com/ocramius" title="Ocramius' CoderWall" target="_blank">Coderwall</a>
                    </li>
                    <li class="divider-vertical"></li>
                </ul>
            </div>
        </div>
    </div>
</div>