<div class="span1 columns well">
    <p><a href="https://twitter.com/share" class="twitter-share-button" data-via="ocramius">Tweet</a></p>
    <p><g:plusone size="medium"></g:plusone></p>
    <p><script type="text/javascript" src="http://www.reddit.com/buttonlite.js?i=2&styled=off&url=http://ocramius.github.com{{ page.url }}&newwindow=1"></script></p>
    <p><a href="http://www.instapaper.com/hello2?url=http://ocramius.github.com{{ page.url }}&title={{ page.title }}" title="Save {{ page.title }} to Instapaper" target="_blank">+Instapaper</a></p>
    <p><a href="http://www.delicious.com/save" title="Save {{ page.title }} to Delicious" onclick="window.open('http://www.delicious.com/save?v=5&noui&jump=close&url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title), 'delicious','toolbar=no,width=550,height=550'); return false;">+Delicious</a></p>
</div>