---
layout: default
---

<div class="content">
    {% include post_header.html %}
    {{ content }}
</div>

<div class="row">
    <div class="span3 columns">&nbsp;</div>
    <div class="span9 column">
        <p class="pull-right">
            {% if page.previous.url %}
            <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
                <i class="icon-chevron-left"></i>
            </a>
            {% endif %}
            {% if page.next.url %}
            <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">
                <i class="icon-chevron-right"></i>
            </a>
            {% endif %}
        </p>
    </div>
</div>

{% if page.tweet %}
<div data-tweet-id="{{page.tweet}}" class="twitter-tweet"></div>
{% else %}
<hr/>
{% endif %}

<div class="row">
    <div class="span9 columns">
        <div id="disqus_thread"></div>
    </div>
</div>