---
layout: default
title: Ocramius' blog - software development thoughts by Marco Pivetta
generator: pagination
pagination:
    max_per_page: 5
use:
    - posts
---
{% for post in page.pagination.items %}
    <article class="overview">
        <header>
            <h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
        </header>
        <p>
            {% if post.description %}
                {{ post.description }}
            {% else %}
                {{ post.summary }}
            {% endif %}
        </p>
        <footer class="small">
            <div class="span2">
                <small>
                    <time datetime="{{ post.year }}-{{ post.month }}-{{ post.day }}">
                        <i class="icon-calendar"></i> {{ post.year }}-{{ post.month }}-{{ post.day }}
                    </time>
                </small>
            </div>
            {% if post.meta.tags %}
            <div class="span8">
                <small class="tags">
                    <i class="icon-tag"></i>
                    {% for tag in post.meta.tags %}
                    <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </small>
            </div>
            {% endif %}
            {#
            -
            # comments
            #}
        </footer>
    </article>
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav>
        {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>{% endif %}<br />
        {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>{% endif %}<br />
    </nav>
{% endif %}
